.navbar {
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}
.container {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.position {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
footer {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}